<h1>Articulos de mi blog</h1>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article %>
    </li>
  <% end %>
</ul>

<%= link_to "Crear un nuevo articulo", new_article_path %>
